h1 {
  color: #111;
  font-family: 'Jazz LET', fantasy;
  font-size: 275px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}
nav a:hover {
  color: white;
  background-color: #F0122D;
}
nav a.active {
  background-color: black;
}
